// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Copyright 2020 Toradex
 */

/dts-v1/;

#include "imx8mp-verdin-wifi-dahlia.dts"

/ {
	model = "Toradex Verdin iMX8M Plus WB on SmartLinx Slate Board";
	compatible = "toradex,verdin-imx8mp-wifi-slate",
		     "toradex,verdin-imx8mp-wifi",
		     "toradex,verdin-imx8mp",
		     "fsl,imx8mp";

	matrix-keypad {
		status = "okay";
		compatible = "gpio-matrix-keypad";
		debounce-delay-ms = <10>;
		col-scan-delay-us = <10>;
		drive-inactive-cols;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_matrix>;

		row-gpios = <
			&gpio2 17 0
			&gpio2 18 0
			&gpio2 14 0
			&gpio4 22 0
		>;

		col-gpios = <
			&gpio2 13 0
			&gpio2 15 0
			&gpio2 16 0
			&gpio2 12 0
		>;

		linux,keymap = <
			// col0 row0 KEY_A
			0x0000001e
			// col0 row1 KEY_B
			0x01000030
			// col0 row2 KEY_C
			0x0200002e
			// col0 row3 KEY_D
			0x03000020
			// col1 row0 KEY_1
			0x00010002
			// col1 row1 KEY_4
			0x01010005
			// col1 row2 KEY_7
			0x02010008
			// col1 row3 KEY_BACKSPACE
			0x0301000e
			// col2 row0 KEY_2
			0x00020003
			// col2 row1 KEY_5
			0x01020006
			// col2 row2 KEY_8
			0x02020009
			// col2 row3 KEY_0
			0x0302000b
			// col3 row0 KEY_3
			0x00030004
			// col3 row1 KEY_6
			0x01030007
			// col3 row2 KEY_9
			0x0203000a
			// col3 row3 KEY_ENTER
			0x0303001c
		>;
	};
};

&backlight {
	status = "okay";
	brightness-levels = < 0  1  2  3  4  5  6  7  8  9
                             10 11 12 13 14 15 16 17 18 19
                             20 21 22 23 24 25 26 27 28 29
                             30 31 32 33 34 35 36 37 38 39
                             40 41 42 43 44 45 46 47 48 49
                             50 51 52 53 54 55 56 57 58 59
                             60 61 62 63 64 65 66 67 68 69
                             70 71 72 73 74 75 76 77 78 79
                             80 81 82 83 84 85 86 87 88 89
                             90 91 92 93 94 95 96 97 98 99
                             100>;
	default-brightness-level = <80>;
	pwms = <&pwm1 0 6666667 0>;
};

&gpu_2d {
	status = "okay";
};

&gpu_3d {
	status = "okay";
};

/* LCDIF to MIPI-DSI */
&lcdif1 {
	status = "okay";
};

&lvds_ti_sn65dsi83 {
	status = "okay";
	ti,dsi-lanes = <4>;
	ti,height-mm = <136>;
	ti,lvds-bpp = <24>;
	ti,lvds-format = <2>;
	ti,width-mm = <217>;

	port {
		dsi85_in: endpoint {
			remote-endpoint = <&mipi_dsi_bridge1_out>;
		};
	};

	display-timings {
		native-mode = <&lvds_timing0>;

		lvds_timing0: lt170410_2whc {
			/*
			 * PLL1 is at 2079000000, take PLL1/30
			 * otherwise we don't get a picture on NXP i.MX 8M Plus
			 */
			clock-frequency = <68900000 71100000 73400000>;
			hactive = <1280 1280 1280>;
			hfront-porch = <23 60 71>;
			hback-porch = <23 60 71>;
			hsync-len = <15 40 47>;
			vactive = <800 800 800>;
			vfront-porch = <5 7 10>;
			vback-porch = <5 7 10>;
			vsync-len = <6 9 12>;
			de-active = <1>;
			pixelclk-active = <1>;
		};
	};
};

&mipi_dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	port@1 {
		mipi_dsi_bridge1_out: endpoint {
			remote-endpoint = <&dsi85_in>;
			attach-bridge;
		};
	};
};

&mix_gpu_ml {
	status = "okay";
};

&ml_vipsi {
	status = "okay";
};

&iomuxc {
        pinctrl_ts: ts_grp {
                fsl,pins = <
                        MX8MP_IOMUXC_GPIO1_IO08__GPIO1_IO08             0x16   /* SODIMM 218 */
                        MX8MP_IOMUXC_SAI1_RXD1__GPIO4_IO03              0x16   /* SODIMM 220 */
                >;
        };

	pinctrl_matrix: matrix_grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_DATA2__GPIO2_IO17      0x1c5   /* SODIMM 70 */
			MX8MP_IOMUXC_SD2_DATA3__GPIO2_IO18      0x1c5   /* SODIMM 72 */
			MX8MP_IOMUXC_SD2_CMD__GPIO2_IO14        0x1c5   /* SODIMM 74 */
			MX8MP_IOMUXC_SAI2_RXC__GPIO4_IO22       0x1c5   /* SODIMM 76 */
			MX8MP_IOMUXC_SD2_CLK__GPIO2_IO13        0x1c5   /* SODIMM 78 */
			MX8MP_IOMUXC_SD2_DATA0__GPIO2_IO15      0x1c5   /* SODIMM 80 */
			MX8MP_IOMUXC_SD2_DATA1__GPIO2_IO16      0x1c5   /* SODIMM 82 */
			MX8MP_IOMUXC_SD2_CD_B__GPIO2_IO12       0x1c5   /* SODIMM 84 */
		>;
	};

	pinctrl_led: led_grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI1_SCLK__GPIO5_IO06    0x4   /* SODIMM 196 */
			MX8MP_IOMUXC_ECSPI1_MISO__GPIO5_IO08    0x4   /* SODIMM 198 */
			MX8MP_IOMUXC_ECSPI1_MOSI__GPIO5_IO07    0x4   /* SODIMM 200 */
			MX8MP_IOMUXC_ECSPI1_SS0__GPIO5_IO09     0x4   /* SODIMM 202 */
		>;
	};
};

&i2c3 {
        clock-frequency = <100000>;
};

&i2c4 {
        clock-frequency = <100000>;

        /* Capacitive touch controller */
        ft5x06_ts: ft5x06_ts@38 {
             compatible = "edt,edt-ft5206";
             reg = <0x38>;
             pinctrl-names = "default";
             pinctrl-0 = <&pinctrl_ts>;
             reset-gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
             interrupt-parent = <&gpio4>;
             interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
             touchscreen-size-x = <1280>;
             touchscreen-size-y = <800>;
             wakeup-source;
             status = "okay";
        };

         gt928_ts: gt928@5d {
	     status = "okay";
             compatible = "goodix,gt928";
             reg = <0x5d>;
             pinctrl-names = "default";
             pinctrl-0 = <&pinctrl_ts>;
             reset-gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
             interrupt-parent = <&gpio4>;
             interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
             irq-gpios = <&gpio4 3 GPIO_ACTIVE_HIGH>;
             touchscreen-size-x = <1280>;
             touchscreen-size-y = <800>;
             touchscreen-max-w = <512>;
             touchscreen-max-p = <512>;
        };
};
